%p.profile-settings-content
  = s_("DeployTokens|Pick a name for the application, and we'll give you a unique deploy token.")

= form_for token, url: create_deploy_token_namespace_project_settings_repository_path(project.namespace, project), method: :post do |f|
  = form_errors(token)

  .form-group
    = f.label :name, class: 'label-light'
    = f.text_field :name, class: 'form-control', required: true

  .form-group
    = f.label :expires_at, class: 'label-light'
    = f.text_field :expires_at, class: 'datepicker form-control', value: f.object.expires_at

  .form-group
    = f.label :scopes, class: 'label-light'
    %fieldset.form-group.form-check
      = f.check_box :read_repository, class: 'form-check-input'
      = label_tag ("deploy_token_read_repository"), 'read_repository', class: 'label-light form-check-label'
      .text-secondary= s_('DeployTokens|Allows read-only access to the repository')

    - if container_registry_enabled?(project)
      %fieldset.form-group.form-check
        = f.check_box :read_registry, class: 'form-check-input'
        = label_tag ("deploy_token_read_registry"), 'read_registry', class: 'label-light form-check-label'
        .text-secondary= s_('DeployTokens|Allows read-only access to the registry images')

  .prepend-top-default
    = f.submit s_('DeployTokens|Create deploy token'), class: 'btn btn-success'
